<h3> Tasks </h3>
Name : <span class="font-medium"><%= @task.name %></span>
<br>
<%= time_ago_in_words(@task.created_at) %> Ago
<br>
Status : <span class="font-medium"><%= @task.status %></span>
<br>
<%= link_to 'Go to project', project_path(@task.project) %>
<br>
Description :<span><%= @task.description %></span>
<% if @task.documents.attached? %>
  <strong> Images </strong>
  <% @task.documents.each do |document|%>
    <image src= "<%= (url_for(document))%> " width="250" height="400">
  <%end%>
<% end %>
<%= link_to 'edit', edit_project_task_path(@task.project,@task) %>
<%= link_to 'delete', project_task_path(@task.project,@task),  method: :delete, data: { confirm: "Are you sure?" } %>
      
<%= form_for [@task.project, @task, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Add a comment"%>
    <%= f.submit %>
<% end %>

<%= render partial: "comments/comments", locals:{commentable: @task} %>
